@import url("https://fonts.googleapis.com/css?family=Montserrat");

a    {
  text-decoration: none;
}
body {
  text-align: center;
  background: #59ABE3;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
  position: relative;
  z-index: 1;
}
.header {
	display: block;
	margin: 50px;
	font-family: Montserrat;
}
.content{
	display: block;
	font-size: 22px;
	font-family: Montserrat;
}
b {
    font-size: 50px;
}
#fb, #ig, #linkedin {
	margin: 10px;
}
.footer, .footer p {
	position: fixed;
 	left: 0;
	bottom: 0;
  	width: 100%;
  	color: white;
  	text-align: center;
	font-size: 22px;
}

@media only screen and (max-width: 1500px) {
	/* For mobile: */
	
	.header {
		display: block;
		font-size: 90px;
		margin: 50px auto;
	}
	.content p {
		font-size: 15px;
		font-family: Montserrat;
	}
	.links {
		display: block;
		height: 100px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10%;
		margin-top: 10%;
		padding: 0;
	}
	.links img {
		height: 50%;
		width: 50%;
		display: inline-block;
	}
	.footer {
		position: sticky;
		bottom: 0;
		width: 100%;
		color: white;
		text-align: center;
		font-size: 10px;
	}
}	
