@import url("https://fonts.googleapis.com/css?family=Montserrat");

a    {
  text-decoration: none;
}
body {
  text-align: center;
  background: #59ABE3;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
  position: relative;
  z-index: 1;
}
p {
  font-size: 22px;
  font-family: Montserrat;
}
.header {
    margin: 50px;
}
b {
    font-size: 50px;
}
#fb {
    margin: 10px;
}
#ig {
    margin: 10px;
}
#linkedin {
    margin: 10px;
}

.footer {
	position: fixed;
 	left: 0;
	bottom: 0;
  	width: 100%;
  	color: white;
  	text-align: center;
	font-size: 10px;
}

@media only screen and (max-width: 1500px) {
	/* For mobile: */
	
	.links img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	.links {
		height: 200px;
		width: 200px;
	}
	span {
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.header {
		font-size: 90px;
		margin: 50px auto;
	}
}	
